@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

.home {
  height: 100%;
}

.card {
  background-color: transparent !important;
}

.details-section {
  min-height: 100vh;
}
